 <div class="login">
 <form name="loginForm"  novalidate>
  <div class="formDiv">
   <input type="text" placeholder="Your Fullname" ng-model="login.name" name="name" ng-required="true"/>
  <p ng-if="loginForm.name.$touched && loginForm.name.$invalid" class="info">Fullname is required</p><br/>
 </div>
 <div class="formDiv">
  <input type="password" placeholder="Password" ng-model="login.password" name="password" ng-required="true"/>
  <p ng-if="loginForm.password.$touched && loginForm.password.$invalid" class="info">Password is required</p><br/>
 </div>
  <button class="btn" ng-click="submit(login)" ng-disabled="loginForm.$invalid">Login</button>
 </form>
</div> <br/>
        <div class="signupDiv">
            Register!<br/><a ui-sref="register"><i class="ion-android-person-add"></i></a></div>
        </div>



