<nav>
    <div class="nav-bar">
        <div class="nav-bar-name">
            <i class="ion-android-person" style="color:#FF8C00;"></i>
            <span>{{userData.name}}</span>
        </div>
        <div class="nav-bar-menu">
            <ul>
                <li><a ui-sref="my-profile.data" class="linkIn" link-used>My Profile</a></li>
                <li><a ui-sref="my-profile.edit" link-used>Edit Profile</a></li>
                <li><a ng-click="logout()"><i class="ion-log-out" ng-click="logout()"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<hr/>

<div ui-view class="ui-child"></div>